/******************************************
4.1 List Defaults
******************************************/

ul {
	li {
		list-style: circle;
		margin-left: 1em;
		
		a {
			
		}
		
		ul {
			margin-left: 1.5em;
			
			li {
				margin-left: 2em;
			}
		}
	}
}
/******************************************
4.2 Navigation Bar
******************************************/

nav,
#navbar,
#page_navbar {
	background: linear-gradient($blue);
	display: block;
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: -32px;
	width: 100%;
	z-index: 3;

	@include transition(all, .25s, 0s);

}

/******************************************
4.3 Footer
******************************************/
footer {
    p {
        font-size: .875em;
    }
    
    .icon {
        width: 18px;
    }
    
    &.site-footer {
        a {
            border-bottom: none;
        }
    }
}
